.movieData{
    display: flex;
    /* justify-content:; */
        flex-direction: column;
        
}

.movieCard{
    border: 2px solid white;
    border-radius: 1px;
    padding: 20px;
    margin: 20px;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s;
    
    &:hover{
        transform: scale(1.1);
        transition: all 0.3s;
    }
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row{
    display:flex;
    justify-content: space-evenly;
    font-weight: 400;
}

.adde{
    padding: 0;
}

.column1{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* .column {
    float: left;
    width: 50%;
    padding: 30px;

}

.row::after {
    content: "";
    display: table;
    clear: both;
} */