.home{
    background-image: linear-gradient(79deg, #000000, #3a393a 48%, #000000);
    /* margin-top: -20px; */
}

nav ul{
    display: flex;
    /* padding: 20px; */
}

nav ul li{
    list-style: none;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2 rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    position: relative;
}

nav ul li a::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    height: 3px;
    width: 0;
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover:before{
    width: 100%;
}

nav ul li a:focus{
    background-color: rgb(126, 118, 118);
    opacity: 0.2px;
    border-radius: 20px;
}

nav ul li a:focus::before{
    width: 0px;
}

.search-btn {
    display: flex;
}

.inputText {
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 2rem 0 0 2rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: var(--primary-color);
    box-shadow: inset 0 5px 10px var(--secondary-color);
}

.inputText::placeholder {
    color: white;
}

.search-btn button {
    background-color: var(--secondary-color);
    box-shadow: inset 0 5px 10px var(--primary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0 2rem 2rem 0;
    color: white;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
}