.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add,
.edit,
.cancel {
  width: 40%;
}

.adinput {
  /* justify-content: center; */
  margin: 1pxy 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}
